name: Run Playlist Scraper

on:
  push:
    paths:
      - '10-playlist-scraper/**'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install requests beautifulsoup4

    - name: Run scraper
      run: python 10-playlist-scraper/playlist-scraper.py
